pandas==3.0.0
scikit-learn==1.8.0
matplotlib==3.10.8
seaborn==0.13.2
notebook==7.5.2
jupyter==1.1.1
paretoset==1.2.5
flaml[automl]==2.5.0
xlrd==2.0.2
openpyxl==3.1.5
pptx2md==2.0.6
scipy==1.17.0
awswrangler==3.15.0
prov[dot]==2.1.1
pydot==4.0.1
traitlets==5.14.3